<div class="field">
  <label>Тираж</label>
  <input class="selectlike" type="text" numbers-only ng-model="selected.quantity" placeholder="от 100шт">
</div>
<div class="field">
  <label>Размер в развернутом виде</label>
  <select class="othervar" ng-model="selected.format" ng-options="record.tag for record in prodAttr.format">
  </select>
  <input class="small" type="text" numbers-only ng-model="selected.format.side1" ng-disabled="!selected.format.editable">
  <span> x </span>
  <input class="small" type="text" numbers-only ng-model="selected.format.side2" ng-disabled="!selected.format.editable">
  <span style="font-size:13px"> мм </span>
</div>
<div class="field">
  <label>Материал</label>
  <select ng-model="selected.material" ng-options="record.tag for record in prodAttr.material">
  </select>
</div>
<div class="field">
  <label>Цветность</label>
  <select ng-model="selected.colored" ng-options="record.tag for record in prodAttr.colored">
  </select>
</div>
<div class="field">
  <label>Фальцовка</label>
  <select ng-model="selected.folding" ng-options="record.tag for record in prodAttr.folding">
  </select>
</div>
<div class="field">
  <label>Печать переменных данных</label>
  <select ng-model="selected.printVariableData" ng-options="record.tag for record in prodAttr.printVariableData"></select>
</div>

<div class="field">
  <label>Стоимость</label>
  <div class="calcresult">{{totalprice}}<span class="totalcurrancy"> Руб.</span></div>
</div>
