<div class="field">
  <label>Тираж: </label>
  <input ng-model="tirazh" placeholder="Количество едениц комплекте" type="text">
</div>
<div class="field">
  <label>Комплектов: </label>
  <input ng-model="kompletov" placeholder="Количество комплектов" type="text">
</div>
<div class="field">
  <label>Материал: </label>
  <select ng-model="material">
    <option value="Бумага мелованная 350г/м">Бумага мелованная 350г/м</option>
    <option value="Бумага матовая 350г/м">Бумага матовая 350г/м</option>
  </select>
</div>
