<div class="field">
  <label>Тираж</label>
  <select ng-model="selected.amount" ng-options="record.tag for record in prodAttr.amount">
  </select>
</div>
<div class="field">
  <label>Размер</label>
  <select class="othervar" ng-model="selected.format" ng-options="record.tag for record in prodAttr.format">
  </select>
  <input class="small" type="text" numbers-only ng-model="selected.format.side1" ng-disabled="!selected.format.editable">
  <span> x </span>
  <input class="small" type="text" numbers-only ng-model="selected.format.side2" ng-disabled="!selected.format.editable">
  <span style="font-size:13px"> мм </span>
</div>
<div class="field">
  <label>Материал</label>
  <select ng-model="selected.material" ng-disabled="ifOffset" ng-options="record.tag for record in prodAttr.material">
  </select>
</div>
<div class="field">
  <label>Резка/надрезка</label>
  <select ng-model="selected.crooked" ng-options="record.tag for record in prodAttr.crooked">
  </select>
</div>
<div class="field">
  <label>Доп. Покрытие</label>
  <select ng-model="selected.cover" ng-options="record.tag for record in prodAttr.cover">
  </select>
</div>
<div class="field">
  <label>Печать переменных данных</label>
  <select ng-model="selected.printVariableData" ng-options="record.tag for record in prodAttr.printVariableData"></select>
</div>

<div class="field">
  <label>Стоимость</label>
  <div class="calcresult">{{totalprice}}<span class="totalcurrancy"> Руб.</span></div>
</div>
